input.fullwidth { width: 99%;}

@-moz-document url-prefix() {
        input.fullwidth { width: 97%;}
}

table.thpadding th {
    padding-left: 15px;
}

table.tdpadding td {
    padding-left: 5px;
    padding-top: 2px;
}


